@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
    font-display: swap;
}


/* to show underline for the selected menu */
.active hr {
    @apply block
}

/*::-webkit-scrollbar:horizontal {
    @apply visible;
}*/

::-webkit-scrollbar {
    @apply hidden;
}

/*@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary
    }
}*/

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 0.5ss linear infinite;
}
  
@keyframes spin1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.spinner-border {
    border-radius: 50%;
    border: 4px solid #fff;
    border-top-color: transparent;
    width: 24px;
    height: 24px;
    animation: spin1 1s linear infinite;
}

  